/*CSS
**Author...: Alex Padilha
**
** Copiwriting
***/

body{
    background-image: url(../img/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*cobre toda o campo do body*/
    background-position: center;

    min-height: 100vh;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:azure;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.carton{
    background-color: #070d12;
    width: 370px;
    border: 2px solid orangered;
    border-radius: 10px;
    overflow: hidden;
}

.carton .inf-pri{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /*alinha horzontamente por causa do flex direction estar como column*/
    gap: 10px; /*propriedade do flex*/
}

.carton .inf-pri img{
    border-radius: 50px;
    border: 2px solid orangered;
}

.carton .inf-pri .name{
    font-size: 26px;
}

.carton .inf-pri .charge{
    font-size: 20px;
    color: aquamarine;
}

.carton .cont{
    margin-top: 15px;    
}

.carton .cont .abas{
    display: flex;
    justify-content: center;
}

.carton .cont .div-gif{    
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2 ease-in-out;
}

.carton .cont img{
    width: 30px;
}

.carton .cont .abas .div-gif.selecionado{
    background-color: #262626;
}

.carton .inf-abas{
    background-color: #262626;
}

.carton .abas .div-gif:hover{
    background-color: #414141;
}

.inf-abas .inf-1{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.inf-abas .inf-1.selecionado{
    display: block;
}

.inf-abas .subtittle-1{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.inf-abas .subtittle-2{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.inf-abas .subtittle-2 span{
    color:aquamarine;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes li a{
    display: block;
    width: 250px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes li a:hover{
    opacity: 0.5;
}

.redes .li-Curriculo{
    background-color: chocolate;    
    color: azure;
}

.redes .li-link{
    background-color: dodgerblue;
    color: azure;
}

.redes .li-github{
    background-color: blueviolet;
    color:azure;
}

